Repository FuelLabs/fuels-wallet, pull requests merged in 2023-01, with the labels that each got.

#414 feat: add getSelectedAccount method to Wallet SDK
  .changeset/late-planets-rescue.md
  .vscode/settings.json
  package.json
  packages/app/src/systems/CRX/background/services/BackgroundService.ts
  packages/docs/docs/api.mdx
  packages/docs/docs/how-to-use.mdx
  packages/docs/examples/GetSelectedAccount.tsx
  packages/docs/examples/index.tsx
  packages/sdk/src/Fuel.test.ts
  packages/sdk/src/FuelWalletConnection.ts
  packages/sdk/src/__mock__/Fuel.ts
  pnpm-lock.yaml
Labels: enhancement, sdk

#413 feat: add isConnected method to Wallet SDK
  .changeset/fast-islands-argue.md
  packages/app/package.json
  packages/app/src/systems/CRX/background/services/BackgroundService.ts
  packages/docs/docs/api.mdx
  packages/docs/docs/how-to-use.mdx
  packages/docs/examples/ListAccounts.tsx
  packages/docs/package.json
  packages/docs/src/lib/code-import.ts
  packages/sdk/package.json
  packages/sdk/src/Fuel.test.ts
  packages/sdk/src/FuelWalletConnection.ts
  packages/sdk/src/__mock__/Fuel.ts
  packages/types/package.json
  pnpm-lock.yaml
Labels: enhancement, sdk

#442 fix: close window after tx is sent
  packages/app/playwright/e2e/ChangePassword.test.ts
  packages/app/src/systems/DApp/methods/transactionRequestMethods.ts
Labels: bug

#450 fix: multiple utxos calculation error
  packages/app/src/systems/Transaction/__mocks__/tx.ts
  packages/app/src/systems/Transaction/utils/tx.ts
Labels: bug

#473 feat(sdk): add `currentAccount` function/event to sdk
  .changeset/silent-sloths-flow.md
  packages/app/playwright/commons/text.ts
  packages/app/playwright/crx/crx.test.ts
  packages/app/playwright/mocks/database.ts
  packages/app/src/systems/Account/components/AccountItem/AccountItem.stories.tsx
  packages/app/src/systems/Account/components/AccountItem/AccountItem.tsx
  packages/app/src/systems/Account/components/AccountList/AccountList.test.tsx
  packages/app/src/systems/Account/components/AccountList/AccountList.tsx
  packages/app/src/systems/Account/events.tsx
  packages/app/src/systems/Account/hooks/useAccounts.tsx
  packages/app/src/systems/Account/machines/accountMachine.test.ts
  packages/app/src/systems/Account/machines/accountMachine.tsx
  packages/app/src/systems/Account/pages/Accounts/Accounts.tsx
  packages/app/src/systems/Account/pages/AddAccount/AddAccount.tsx
  packages/app/src/systems/Account/services/account.ts
  packages/app/src/systems/CRX/background/services/BackgroundService.ts
  packages/app/src/systems/CRX/background/services/DatabaseEvents.ts
  packages/app/src/systems/DApp/hooks/useConnectRequest.tsx
  packages/app/src/systems/DApp/pages/ConnectionRequest/ConnectionRequest.tsx
  packages/app/src/systems/Send/machines/sendMachine.test.ts
  packages/docs/docs/api.mdx
  packages/docs/docs/how-to-use.mdx
  packages/docs/examples/CurrentAccount.tsx
  packages/docs/examples/GetSelectedAccount.tsx
  packages/docs/examples/index.tsx
  packages/sdk/src/Fuel.test.ts
  packages/sdk/src/FuelWalletConnection.ts
  packages/sdk/src/__mock__/Fuel.ts
  packages/types/src/accounts.ts
  packages/types/src/fuel.ts
Labels: enhancement, sdk

#516 refactor: improve e2e in local development
  .github/workflows/pr-tests.yml
  package.json
  packages/app/.env.example
  packages/app/env.d.ts
  packages/app/load.envs.js
  packages/app/playwright.config.ts
  packages/app/playwright/crx/crx.test.ts
  packages/app/playwright/mocks/database.ts
  packages/app/src/config.ts
  packages/app/src/exports.ts
  packages/app/src/main.tsx
  packages/app/src/systems/Core/utils/database.ts
  packages/app/tsconfig.node.json
  packages/app/vite-utils/vite.base.config.ts
  packages/app/vite.config.ts
  packages/app/vite.crx.config.ts
  packages/docs/docs/contributing/running-locally.mdx
  packages/docs/package.json
  pnpm-lock.yaml
Labels: documentation, config, refactor
